<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localhost" connectionString="Server=.\LOCALMSSQL;Database=Film_Production;User=gosia;Password=root;TrustServerCertificate=True" providerName="Microsoft.Data.SqlCient"/>
	</connectionStrings>
</configuration>